body{
    overflow-x: hidden;
    height: 10vw;
}

.vertical {
    text-align: center;
    border-bottom: 3px solid #474747;
    padding-top: 10vh;
    width: 10vw;
    margin: auto;
}

.bottom-left {
    position: absolute;
    bottom: 0;
    text-align: center;
    height: 70vh;
    left: 30vw;
}

header{
    position: relative;
    margin:auto;
    background: #b6b8ba;
    padding-left: 3vw;
    padding-top: 70vh;
    padding-bottom: 1vw;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 15vh;
    color: white;
}

.h{
    padding-top: 5vh;
    text-align: center;
    color: #474747;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

#a{
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 3vh;
}

#block{
    border-radius: 50px;
    background: #f7f7f7;
    margin: auto;
    width: 50vw;
    height: 60vh;
    display: flex;
    align-items: center
}

#info{
    text-align: left;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 3vh;
    padding-left: 7vh;
}

#im{
    height: 40vh;
    margin: auto;
}

.sidebar{
    width:100%;
}

.but{
    text-align:center;
}

#img1 {
    background:url(https://i.imgur.com/OCwOpWh.png) no-repeat;
    background-size: cover;
    height: 32vw;
    width: 24vw;
    border: none;
    cursor: pointer;
}

#img2 {
    background:url(https://i.imgur.com/IiH55pk.png) no-repeat;
    background-size: cover;
    height: 32vw;
    width: 24vw;
    border: none;
    cursor: pointer;
    margin-left: 3vw;
    margin-right: 3vw;
}

#img3 {
    background:url(https://i.imgur.com/WGTKZDN.png) no-repeat;
    background-size: cover;
    height: 32vw;
    width: 24vw;
    border: none;
    cursor: pointer;
}

